
.feedbackBlock {
    margin: 100px;
    padding: 20px;
    display: inline-block;
    outline: 1px solid orangered;
}
.title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 500;
    color:rgb(20, 20, 20);

}

.buttonsList {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}


.buttonsList li + li {
    margin-left: 10px;
}

button {
    padding: 1px 3px;
    font-size: 20px;
    font-weight: 100;
    background: rgb(152, 231, 241);

    border: 1px solid darkslategrey;
    border-radius: 3px;
}
button+button {
    margin-left: 10px;
}

.statItem {
    font-size: 25px;
    font-weight: 400;
}

